<ion-view view-title="Marco Beteta">
  <ion-content class="has-header has-footer">
  	<div class="list card ">
		<div class="item item-body">
			<img class="full-image" src="img/MB_09.png">
			<p>
			 En esta App Gourmet, encontrará  los mejores tips y recomendaciones para que su experiencia culinaria le resulte lo más agradable posible.</p>

			<p>A través de mis redes sociales he recibido quejas constantes sobre problemas de intoxicación y enfermedades relacionadas con la falta o ausencia total de higiene en muchos restaurantes.</p>

			<p>Por esta razón, y con el apoyo de Calidad Suprema (organismo que depende de la SAGARPA) surge el distintivo Reconocimiento de Higiene MB, el cual garantiza a los comensales que los restaurantes que ostentan esta certificación observan las reglas más estrictas de higiene.</p>

			<p>Todas estas recomendaciones y las últimas actualizaciones también están disponibles en Consentido (suplemento quincenal de El Universal); FB Marco Beteta; Twitter @marcobeteta; <a href="http://www.marcobeteta.com">www.marcobeteta.com</a></p>

			<p>Esta guía es posible gracias al patrocinio de Banorte-IXE, ya que ningún restaurante paga cantidad alguna por aparecer en la misma.</p>

			<p>¡Buen provecho!</p>

			<p>Marco Beteta</p>

		</div>
	</div>
  </ion-content>
</ion-view>

