<ion-view view-title="Marco Beteta">
  <ion-content class="has-header has-footer">
  	<div class="list card ">
		<div class="item item-body">
			<img class="full-image" src="img/MB_09.png">
			<p>
			 En esta App Gourmet, encontrará  los mejores tips y recomendaciones para que su experiencia culinaria le resulte lo más agradable posible.</p>

			<p>Todas estas recomendaciones también están disponibles  en Consentido (suplemento quincenal de El Universal). En <a href="http://www.marcobeteta.com">www.marcobeteta.com</a> y mis redes sociales.</p>

			<p>En esta App podrás llamar directamente al restaurante y ver la ubicación de cada restaurante mencionado.</p>

			<p>Esta guía es posible gracias al patrocinio de Banorte-IXE, ya que ningún restaurante paga cantidad alguna por aparecer en la misma.</p>

			<p>¡Buen provecho!</p>

			<p>Marco Beteta</p>

			<a  href="https://www.facebook.com/marcobeteta" target="blank "class="button button-block icon icon-left  ion-social-facebook" style="background-color:rgb(59, 89, 152); color:white;">Facebook</a>

			<a href="https://twitter.com/MarcoBeteta" target="blank" class="button button-block icon icon-left  ion-social-twitter" style="background-color:rgb(64,153,255);color:white;">Twitter</a>

			<a href="https://instagram.com/marcobeteta" target="blank" class="button button-block icon icon-left  ion-social-instagram" style="background-color:rgb(81,127,164);color:white;">Instagram</a>


		</div>
	</div>
  </ion-content>
</ion-view>

