<ion-view  view-title="Restaurantes Cercanos" ng-init="init()" hide-back-button="true">

  <ion-content scroll="false" class="has-footer has-map" ng-controller="RestaurantesCercanosCtrl">
		<map center="current-location" zoom="15">

			<map-type name="coordinate" object="CoordMapType" center="current-location">
 			
 				<marker position="current-location" icon="{path:'CIRCLE', scale: 8 }" ></marker>
			
				<marker ng-repeat="m in markers" id="{{m.id}}"
					position="[{{m.latitud}},{{m.longitud}} ]"
					visible="true"
					animation="DROP"
					on-click="showInfoWindow(event, 'bar')"
					>
				</marker>

    		</map-type>
			
		</map>
  </ion-content>
</ion-view>
